@import '@/styles/mixins.sass'

.e-card
  min-height: 120px
  position: relative
  background-color: #333
  border-radius: 5px
  cursor: pointer
  &:hover
    .e-card__shadow-blur
      opacity: 0.8
  &__layer
    +posa(0)
  &__info
    padding: 20px
    color: white
  &__image
    width: 100%
    overflow: hidden
    border-radius: inherit
    display: flex
    align-items: center
    justify-content: center
    -webkit-mask-image: -webkit-radial-gradient(white, black)
    img
      animation: slide 20s alternate infinite ease-in-out
      width: 100%
    &::after
      +posa(0)
      content: ''
      background-color: rgba(black, 0.4)
  &__shadow-blur
    +blur-bg
    transition: all ease 0.25s
    &-container
      img
        animation: slide 20s alternate infinite linear
