/* Large Devices, Wide Screens */
@media only screen and (max-width : 1800px)
  .cat-layout
    max-width: 1660px
    &__grid
      grid-template-columns: 540px 540px 540px
      grid-gap: 40px 20px

@media only screen and (max-width : 1720px)
  .cat-layout
    max-width: 1120px
    &__grid
      grid-template-columns: 540px 540px
      grid-gap: 40px 40px

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px)
	.cat-layout
    max-width: 1100px
    &__grid
      grid-template-columns: 540px 540px
      grid-gap: 40px 20px


/* Small Devices, Tablets */
@media only screen and (max-width : 1170px)
	.cat-layout
    max-width: 800px
    &__grid
      grid-template-columns: 540px
      grid-gap: 40px 40px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.cat-layout
    max-width: 300px
    &__grid
      grid-template-columns: 300px
      grid-gap: 15px 0px
