@import './vars.sass'

@mixin tdn
  text-decoration: none
  &:hover
    text-decoration: none
  &:focus
    text-decoration: none
  &:active
    text-decoration: none

@mixin link
  +tdn
  cursor: pointer
  color: $color-accent

@mixin posa($padding)
  position: absolute
  top: $padding
  left: $padding
  right: $padding
  bottom: $padding

@mixin heading-2
  font-size: 20px
  font-weight: bold
  font-family: 'PT Sans'

@mixin blur-bg
  filter: blur(15px)
  opacity: 0.4
  border-radius: inherit
  &-container
    overflow: hidden
    position: absolute
    top: 10px
    bottom: -10px
    display: flex
    border-radius: inherit
    flex-direction: column
    justify-content: center
    align-items: center
    img
      width: 100%

@mixin outline-card($brs)
  border: none
  outline: none
  border: 1px solid rgba(black, 0.25)
  box-sizing: border-box
  border-radius: $brs
  transition: all ease 0.25s
  &:focus
    border: 2px solid rgba($color-accent, 1)

@keyframes slide
  0%
    transform: translateY(-15px)
  100%
    transform: translateY(15px)

@mixin button
  +tdn
  border: none
  outline: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  position: relative

@mixin preloader-mask
  background: rgba(black, 0.1)
  color: transparent
  border-radius: 5px
  pointer-events: none
  cursor: none
  position: relative
  border-radius: 5px
  overflow: hidden
  &::after
    +posa(0)
    content: ''
    background: linear-gradient(to left, rgba(white, 0.0), rgba(white, 0.5), rgba(white, 0.0))
    animation: gradientanimation 2.5s ease infinite
    background-size: 200% 200%
